<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EWSoftware.SHFB" version="2026.1.20" targetFramework="net35" />
  <package id="EWSoftware.SHFB.NETFramework" version="4.8.0.3" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net35" />
</packages>